body {
    background-image: url('./assets/StardewWallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
  }
  
  .titleContainer {
    display: flex;
    align-items: flex-start;
    width: 70vh;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 70px;
    margin-top: 30px;
  }
  
  .stardewLogo {
    position: relative;
    margin-left: 100px;
    margin-top: 70px;
    margin-right: -60px;
  }
  
  .pixel {
    font-weight: bold;
    color: beige;
    position: relative;
    margin-left: 100px;
  }
  
  .hFirst {
    margin-top: 70px;
    margin-left: 0px;
  }
  
  .hSecond {
    margin-top: -20px;
    margin-left: 0px;
  }
  
  .catchPhrase {
    margin-top: -10px;
    margin-left: 0px;
  }