
body {
    background-image: url('./assets/StardewWallpaper.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
}

.pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: beige;
  }